<div align="right" ng-controller="AddContactController">
    <div class="panel panel-success">
    <div class="panel-heading" align="left">{{'contacts.add.new.contact'|text}}</div>
    <div class="panel-body">
        <form name="addContact" class="form-horizontal" ng-submit="submitNewContact()">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3" align="right">
                    <input type="text" class="form-control" name="firstName" ng-model="firstName" ng-maxlength="40" placeholder="{{'contacts.add.firstname.placeholder'|text}}" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input class="form-control" type="text" name="lastName" ng-model="lastName" ng-maxlength="40" placeholder="{{'contacts.add.lastname.placeholder'|text}}" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input class="form-control" type="text" name="phoneNumber" ng-model="phoneNumber" ng-maxlength="40" placeholder="{{'contacts.add.phone.placeholder'|text}}"  required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input class="form-control" type="text" name="address" ng-model="address" ng-maxlength="40" placeholder="{{'contacts.add.address.placeholder'|text}}"  required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input class="form-control" type="email" name="email" ng-model="email" ng-maxlength="40" placeholder="{{'contacts.add.email.placeholder'|text}}"  required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <select class="form-control" name="timezone" ng-options="timezone as timezone.id + ': ' +
                         timezone.utcCode + ' (' + timezone.description + ')' for timezone in timezones track by timezone.id" ng-model="selected" required>
                        <option value="">{{'contacts.add.time.select'|text}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <textarea class="form-control" type="text" name="notes" ng-model="notes" ng-maxlength="225" placeholder="{{'contacts.add.notes.placeholder'|text}}"  required></textarea>
                </div>
            </div>
            <br>
            <div class="col-md-12" align="center">
                <button type="submit" class="btn btn-info" ng-disabled="addContact.$invalid">{{'contacts.add.save.new'|text}}</button>
                <button type="submit" class="btn btn-info" ng-click="resetFields()">{{'contacts.add.save.cancel'|text}}</button>
            </div>
            <br>
            <br>
            <div class="col-md-12" align="center">
                <p>{{'contacts.add.required.required'|text}}</p>
            </div>
        </form>
    </div>
    </div>
</div>