<br>
<div class="row" ng-controller="CreateController">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading" align="left">
                <b>{{'contacts.login.create.title'|text}}</b>
            </div>
            <div class="panel-body">
                <form name="addUser" ng-submit="submitUserAccount()">
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="form-control" type="email" placeholder="{{'contacts.login.create.login'|text}}"  ng-model="username" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" class="form-control" placeholder="{{'contacts.add.firstname.placeholder'|text}}" ng-model="firstName" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" class="form-control" placeholder="{{'contacts.add.lastname.placeholder'|text}}" ng-model="lastName" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="form-control" type="password" placeholder="Password - minimum of 5 characters" ng-model="password" ng-minlength="5" ng-maxlength="32" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary" ng-disabled="addUser.$invalid">{{'contacts.login.create.create'|text}}</button>
                            <button type="button" class="btn btn-primary" ng-click="resetCreateAccountValues()">{{'contacts.login.create.resetvalues'|text}}</button>
                        </div>
                    </div>
                </form>
                <br>
                <a href="/login">{{'contacts.login.create.return'|text}}</a>
            </div>
        </div>
    </div>
</div>