<div align="right" ng-controller="EditContactController">
    <div class="panel panel-success">
        <div class="panel-heading" align="left">{{'contacts.edit.exiting.title'|text}}</div>
        <div class="panel-body">
            <form name="editContact" class="form-horizontel" ng-submit="saveExistingContact()">
                <div class="continaer">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3" align="right">
                            <input type="text" class="form-control" name="firstName" ng-model="contact.firstName" ng-maxlength="40" value="{{contact.firstName}}" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <input type="text" class="form-control" name="lastName" ng-model="contact.lastName" ng-maxlength="40" value="{{contact.lastName}}" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <input type="text" class="form-control" name="phoneNumber" ng-model="contact.phoneNumber" ng-maxlength="40" value="{{contact.phoneNumber}}" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <input type="text" class="form-control" name="address" ng-model="contact.address" ng-maxlength="40" value="{{contact.address}}" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <input type="text" class="form-control" name="email" ng-model="contact.email" ng-maxlength="40" value="{{contact.email}}" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <textarea class="form-control" name="notes" ng-maxlength="225" ng-model="contact.notes" value="{{contact.notes}}"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12" align="center">
                        <button type="submit" class="btn btn-info" ng-disabled="editContact.$invalid">Save</button>
                        <button type="button" class="btn btn-info" ng-click="navigateToList()">Cancel</button>
                        <div ng-show="editContact.$invalid">
                            <p>{{'contacts.edit.exiting.requiredFields'|text}}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>