<div class="panel panel-success" ng-controller="GetContactsController">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-4" align="left">
                {{'contacts.list.list.header'|text}}
            </div>
            <div class="col-sm-2 col-sm-offset-2" align="right">
                <button class="btn btn-default" ng-if="inSearch === true" ng-click="resetSearch()">{{'contacts.list.search.reset'|text}}</button>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button" ng-disabled="searchValue.length < 2" ng-click="runSearch()">{{'contacts.search.button.go'|text}}</button>
                    </span>
                        <input type="text" ng-model="searchValue"  class="form-control" placeholder="{{'contacts.search.input.placeholder'|text}}">
                 </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div ng-if="noContacts === false">
            <div class="container" ng-repeat="contact in contacts track by $index">
                <div class="row" align="left">
                    <div class="col-md-4">
                        <h3 align="left">{{contact.firstName}} {{contact.lastName}}</h3>
                        <div>
                            <span class="glyphicon glyphicon-earphone"></span> {{contact.phoneNumber}}
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-home"></span> {{contact.address}}
                        </div>
                        <div>
                            <span title="Email {{contact.email}}" data-toggle="tooltip" tooltip class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                        </div>
                        <div>
                            <span class="glyphicon glyphicon-globe"></span> {{contact.timeZone}} ({{contact.timezoneCode}})
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <h3 align="left">{{'contacts.list.notes.paragraph'|text}}</h3>
                            <div>
                                <p>{{contact.notes}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top:25px">
                        <button type="button" class="btn btn-info" ng-click="navigateToEdit(contact)">{{'contacts.list.edit.notification'|text}}</button>
                        <button type="button" class="btn btn-info" ng-click="deleteContact(contact.id)">{{'contacts.list.delete.notification'|text}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="noContacts">
            <h3>{{'contacts.list.noresults.paragraph'|text }}</h3>
        </div>
        <div ng-if="noSearchResults">
            <h3>{{'contacts.list.searchresults.paragraph'|text}} '{{searchValueDisplay}}'</h3>
            <p>{{'contacts.list.searchresults.note'|text}}</p>
        </div>
   </div>
</div>