<br>
<div class="row">
    <div class="col-lg-5 col-lg-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading" align="left">
                <b>{{'contacts.user.login.message'|text}}</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <input class="form-control" placeholder="{{'contacts.add.email.placeholder'|text}}" ng-model="username">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <input class="form-control" type="password" placeholder="Password" ng-model="password">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary" ng-click="logUserIn()">{{'contacts.user.login.login'|text}}</button>
                    </div>
                </div>
                <br>
                <a href="/create">{{'contacts.login.create.account'|text}}</a>
            </div>
        </div>
    </div>
</div>