<!DOCTYPE html>
<html lang="en" ng-app="ContactsApp" ng-controller="RunController">
    <meta charset="UTF-8">

    <base href="/">
    <head>
                                 <!-- Style sheets -->
    <link rel="stylesheet" href="/static/angular/public/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/angular/public/lib/css/custom/contacts.css"/>
                                 <!-- Library stuff -->
    <script src="/static/angular/public/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/angular/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src='/static/angular/public/lib/angular/angular.min.js'></script>
    <script src='/static/angular/public/lib/angular-route/angular-route.min.js'></script>
    <script src='/static/angular/public/lib/angular-resource/angular-resource.min.js'></script>
    <script src="/static/angular/public/lib/angular-messages/angular-messages.min.js"></script>
                                 <!-- Application scripts -->
    <script src="/static/angular/public/src/ContactApp.js"></script>
                                 <!-- Controllers -->
    <script src='/static/angular/public/src/controller/GetContactsController.js'></script>
    <script src="/static/angular/public/src/controller/AddContactController.js"></script>
    <script src="/static/angular/public/src/controller/RunController.js"></script>
    <script src="/static/angular/public/src/controller/EditContactController.js"></script>
    <script src="/static/angular/public/src/controller/LoginController.js"></script>
    <script src="/static/angular/public/src/controller/LogoutController.js"></script>
    <script src="/static/angular/public/src/controller/CreateController.js"></script>
    <script src="/static/angular/public/src/controller/ProfileController.js"></script>
                                <!-- Services -->
    <script src='/static/angular/public/src/service/ContactService.js'></script>
    <script src="/static/angular/public/src/service/TextService.js"></script>
    <script src="/static/angular/public/src/service/AuthService.js"></script>
                                <!-- Directives / filters -->
    <script src="/static/angular/public/src/directive/TooltipDirective.js"></script>
    <script src="/static/angular/public/src/filter/TextFilter.js"></script>

    </head>
<body>
<div align="center" class="container">
<nav ng-if="authenticated">
    <ul class="breadcrumb">
        <li class="breadcrumb-item active">{{'contacts.main.nav.tab'|text}}</li>
        <li class="breadcrumb-item active"><a href="/">{{'contacts.main.main.link'|text}}</a>
        <li class="breadcrumb-item active"><a href="/list">{{'contacts.main.list.link'|text}}</a>
        <li class="breadcrumb-item active"><a href="/add">{{'contacts.main.add.link'|text}}</a></li>
        <li class="breadcrumb-item active"><a href="/profile">{{'contacts.main.profile.link'|text}}</a></li>
        <li class="breadcrumb-item active">Hello , {{userDetails.username}} - click <a href="/logout">here</a> to logout</li>
    </ul>
</nav>
    <div ng-view>
    </div>
</div>
</body>
</html>