<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading" align="left">
                <b>{{'contacts.profile.panel.heading'|text}}</b>
            </div>
            <div class="panel-body">
                <form name="updateProfile" ng-submit="updateUserDetails()">
                    <br>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="form-group">
                                {{'contacts.profile.update.firstname'|text}}
                                <input type="text" class="form-control" placeholder="{{'contacts.profile.update.firstname'|text}}"
                                       ng-model="userDetails.firstName" value="{{userDetails.firstName}}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="form-group">
                                {{'contacts.profile.update.lastname'|text}}
                                <input type="text" class="form-control" placeholder="{{'contacts.profile.update.lastname'|text}}"
                                       ng-model="userDetails.lastName" value="{{userDetails.lastName}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            <button type="submit" class="btn btn-primary" ng-disabled="updateProfile.$invalid">{{'contacts.profile.update.profile'|text}}</button>
                            <button type="button" class="btn btn-primary" ng-click="resetUserDetails()">{{'contacts.profile.update.cancel'|text}}</button>
                        </div>
                    </div>
                    <br>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>