<div align="center">
    <div class="panel panel-success">
        <div class="panel-heading" align="left">{{'contacts.welcome.head.text'|text}}</div>
        <div class="panel-body">
            <h4>{{'contacts.welcome.body.text'|text}}</h4>
            <p>{{'contacts.welcome.body.info'|text}}</p>
        </div>
    </div>
</div>